.menu {
    --duration: .5s;
    --easing: ease-in-out;
    position: relative;
    width: 220px;
    margin: 20px;
    transition: max-height 1s linear;
    max-height: 2000px;
}
.sub-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-item {
    margin: -4px 0 0 0;
}
.text-format {
    display: block;
    text-decoration: none;
    background: #fff;
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    border-radius: 4px;
    padding: 1em 1.52em;
}
.text-format:hover {
    background: #efefef;
}
.sub-menu-item {
    font-size: .9em;
    color: #666666;
    border-left: 2em solid white;
    padding: .75em;
    background: linear-gradient(to right, #dddddd 2px, #ffffff 2px);
}
.sub-menu-item:hover {
    background: linear-gradient(to right, #dddddd 2px, #efefef 2px);
}
.header-tab {
    font-weight: 600;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    border-radius: 4px;
    padding: 1em 1.52em;
}
.toggle-span {
    border: none;
    background: transparent;
    font-size: 1.5em;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    float: right;
}
.toggle-button {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: calc(1em - 2px);
    width: 100%;
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing);
    transition-delay: calc(var(--duration) + (.1s * (var(--count) / 2)));
    cursor: pointer;
    outline: none;
    background: #cdcdcd;
    opacity: 0;
}
.text-format.closed,
.header-tab.closed {
    transform: translateY(calc(var(--top) * -1px)) scaleY(0.1) scaleX(0.2);
    transition-delay: var(--delay-in);
    color: transparent;
}
nav.closed {
    max-height: 30px;
}
nav.closed footer button {
    transition-delay: 0s;
    color: white;
    transform: scaleY(0.7) scaleX(0.2);
}
